@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Overpass';
}

p {
    font-size: 15px;
}

.container {
    background: hsl(213, 19%, 18%);
    margin: 5em 2em;
    padding: 1.5em;
    border-radius: 10px;
    min-width: 300px;
    max-width: 350px;
}

.container img {
    background: hsl(215, 10%, 23%);
    border-radius: 50%;
    padding: 0.7em;
}

.container h1 {
    color: white;
    font-size: 1.5em;
    margin: 0.5em 0;
}

.container p {
    color: hsl(217, 12%, 63%);
    font-size: 0.8em;
    margin: 1em 0;
}

.butoes input {
    display: none;
}

.butoes label {
    background: hsl(215, 10%, 23%);
    color: hsl(217, 12%, 63%);
    border-radius: 50%;
    border-style: none;
    padding: 1em 1.3em;
    margin: 1em 0;
    font-weight: 700;
    width: 3.3em;
}

.butoes {
    display: flex;
    justify-content: space-between;
}

.container input {
    background: hsl(25, 97%, 53%);
    font-family: 'Overpass';
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    width: 100%;
    border-radius: 3em;
    border-style: none;
    padding: 0.8em;
    margin-top: 0.8em;
}

.butoes input:checked+label {
    background: hsl(25, 97%, 53%);
    color: white;
}

.butoes label:hover {
    cursor: pointer;
    background: hsl(217, 12%, 63%);
    color: white;
}


.container input:hover {
    cursor: pointer;
    background: white;
    color: hsl(25, 97%, 53%);
}


/* SECOND SCREEN */
h2 {
    color: white;
}

.feedback-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsl(213, 19%, 18%);
    margin: 5em 2em;
    padding: 2em;
    border-radius: 1em;
    min-width: 325px;
    max-width: 355px;
}

.feedback-container.hidden {
    display: none;
}

.feedback-container img {
    width: 60%;
}

.rating-message {
    color: orange;
    background: hsl(212, 13%, 29%);
    padding: 0.4em 1em;
    border-radius: 1em;
    margin: 2em;
}

.feedback-message {
    color: hsl(217, 12%, 63%);
    font-size: 0.8em;
    text-align: center;
    line-height: 1.3em;
    margin: 1em 0 0;
}